.navbar_container {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.navbar_menu_list {
  display: flex;
  gap: 20px;
}

.navbar_menu_list .navbar_menu {
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.navbar_menu_list .navbar_menu:hover {
  background-color: #000;
  color: #fff;
}

.navbar_user_container {
  display: flex;
  gap: 12px;
}
